/* ==UserStyle==
@name           Kurou's Theme
@namespace      https://kurou.dev
@homepageURL		https://kurou.dev
@version        1.0.1
@description    Supports site version 5.0
@author         Kurou
@updateURL      https://kurou-kun.github.io/stylus/anime-odcinki/main.user.css
==/UserStyle== */
@-moz-document domain("anime-odcinki.pl") {

	/* CONFIGURATION */
	:root {
		--color-background: rgb(20, 20, 20);
		--color-background2: rgb(30, 30, 30);
		
		--color-header: rgb(15, 15, 15);
		
		--color-text: rgb(250, 250, 250);
		--color-text2: color-mix(in srgb, var(--color-text), black 50%);
		
		--color-accent: rgb(100, 0, 150);
		--color-accent2: color-mix(in srgb, var(--color-accent), white 30%);
		
		--border-header: 0px;
		--border-body: 0px;
		--border-footer: 0px;
		
		--roundness: 2px;
	}
	
	@import url("https://kurou-kun.github.io/stylus/anime-odcinki/header.user.css");
}